.main_div{
  width: 100%;
  height: 100vh;
  background: rgb(185, 76, 197);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center_div{
  width: 25%;
  background-color: rgb(254, 210, 255);
  box-shadow: 5px 5px 25px -5px rgb(30, 63, 5);
  border-radius: 15px
}

h1{
  color: rgb(233, 214, 228);
  background: transparent;
  background-color: rgb(192, 101, 178);
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgb(180, 38, 180);
}

input{
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid purple;
}

button{
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: rgb(228, 179, 245);
  color: white;
  font-size: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgb(57, 3, 56);
}

button:hover{
  background-color: rgb(204, 27, 204);

}

ol{
  margin-top: 30px;
}

ol li{
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}